# Домашнее задание «Библиотека Pandas»

## Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("C:/Users/skaup/Python learning/Netologia/Python/11/ml-latest-small/ratings.csv")
data

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [3]:
data[data['rating']==5.0]['movieId'].value_counts().head(1)

318    170
Name: movieId, dtype: int64

## Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [4]:
data_2 = pd.read_csv("C:/Users/skaup/Python learning/Netologia/Python/11/power.csv")
data_2

          country  year  quantity  category
0         Austria  1996       5.0         1
1         Austria  1995      17.0         1
2         Belgium  2014       0.0         1
3         Belgium  2013       0.0         1
4         Belgium  2012      35.0         1
...           ...   ...       ...       ...
1189477  Viet Nam  2012      92.0        71
1189478  Viet Nam  2011      87.0        71
1189479  Viet Nam  2010      50.0        71
1189480  Viet Nam  2009      10.0        71
1189481  Viet Nam  2008       1.0        71

[1189482 rows x 4 columns]

In [5]:
summa = 0
data_3=data_2[(data_2['year']>=2005)&(data_2['year']<=2010)&(data_2['quantity']>0)]
data_4=data_3[data_3.category.isin([4,12,21])]
summa = data_4[data_4.country.str.contains('|'.join(['Lat','Lit','Est']))]['quantity'].sum()
print('суммарное потребление: {}'.format(summa))

суммарное потребление: 240580.0

## Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):

https://fortrader.org/quotes

https://www.finanz.ru/valyuty/v-realnom-vremeni

In [6]:
data_5=pd.read_html("https://www.finanz.ru/valyuty/v-realnom-vremeni", encoding = "utf-8")[1]
data_5.head()

,Unnamed: 0,Рубль,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
0,NaN,GBP/RUB,1002886,-,1020385,"-1,71 %",-17499,19:57:00
1,NaN,EUR/RUB,908550,-,917425,"-0,97 %",-08875,19:56:00
2,NaN,USD/RUB,751255,-,760195,"-1,18 %",-08940,19:56:00
3,NaN,JPY/RUB,07188,-,07285,"-1,33 %",-00097,19:57:00
4,NaN,CNY/RUB,114461,-,115629,"-1,01 %",-01169,19:56:00